.body {
    background-color: #fff;
    min-height: 400px;
    padding: 9px;
    margin: auto;
}

.banner {
    background-image: 
            linear-gradient(89.82deg, 
                rgba(20, 7, 7, 0.78) 0.17%, 
                    rgba(49, 93, 145, 0.38) 97.17%), url(
                        '../../public/images/team.png');            
    padding: 22px;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_text {
    margin-top: 14em !important;
    position: relative;
    color: #fff;
}

.inner_body {
    width: 100%;
    position: relative;
    margin: 3em auto;
}
.inner_body h5 {
    font-weight: 800;
}
.body_lower {
    background-color: #ACBDC3;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 3em;
}
.body_values {
    background-color: #F2F2F2;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 3em;
}
.body_lower_text {
    width: 75%;
    margin: auto;
    position: relative;
    color: #fff;
}
span.bigText {
    font-size: 32px;
    font-weight: 600;
    color: #170069;
}
span.colored {
    color: #26AFE6;
}
.col_body {
    background-color: #fff;
    width: 100%;
    margin: auto;
    padding: 2em;
}
.team_banner {
    background: url("../../public/images/bg.png");
    padding: 22px;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.team_banner h4 {
    font-size: 28px;
    margin: 1em auto;
}
.product_section {
    background-color: #fff;
    margin: auto;
    position: relative;
    width: 100%;
    padding: 22px;
}
.footer_section {
    background-color: #C4C4C4;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 9px;
    max-height: 90px;
}
ul.footer_list_left {
    margin: 0;
    padding: 0;
}
ul.footer_list_left li {
    display: inline;
    color: #170069;
    text-align: center;
    padding: 12px 14px;
}
ul.footer_list_left li a {
    text-decoration: none;
}
ul.footer_list_right {
    margin: 0;
    padding: 0;
    list-style: circle !important;
    float: right;
}
ul.footer_list_right li {
    display: inline;
    color: #170069;
    text-align: center;
    padding: 12px 14px;
}
.footer_section_lower {
    background: #3D3D3D;
    width: 100%;
    margin: auto;
    min-height: 50px;
    color: #fff;
    padding-top: 1em;
}
p.text__right {
    text-align: right;
}
h5.tit {
    font-weight: 400;
    font-size: 14px;
    color: #c9c9c9;
}