.banner {
    background: url("../../public/images/banner2.png");
    padding: 22px;
    min-height: 861px;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner_text {
    margin-top: 14em !important;
    position: relative;
    color: #fff;
}
.banner_text h3 {
    font-family: 'Nexa-Regular';
    font-size: 60px;
}
.banner_text p {
    font-family: 'Poppins-Light';
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}
.btnStyle {
    background-color: #84B4C8;
    color: #fff;
    width: 30%;
    border: none;
    padding: 9px;
    font-family: 'Nexa-Regular';
}
.btnStyle:hover {
    background-color: #84B4C8;
    color: #fff;
}