.body {
    background-color: #fff;
    min-height: 211px;
    padding: 9px;
    margin: auto;
}
.body_values_inner h4 {
    font-weight: 900;
}
.inner_body {
    width: 65%;
    position: relative;
    margin: 3em auto;
}
.footer_para {
    font-weight: 900;
    line-height: 10px;
}
.footer_title {
    margin-top: 1.3em;
    font-weight: 100;
    margin-bottom: 1em;
}
.body_lower {
    background-color: #84B4C8;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 3em;
    text-align: center;
}
.body_values {
    background-color: #F2F2F2;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 3em;
}
.body_values_inner {
    margin: 5em auto;
    position: relative;
}
.body_lower_text {
    width: 75%;
    margin: auto;
    position: relative;
    color: #fff;
}
span.bigText {
    font-size: 32px;
    font-weight: 600;
    color: #170069;
}
span.colored {
    color: #26AFE6;
}
.col_body {
    background-color: #fff;
    width: 100%;
    margin: auto;
    padding: 2em;
}
.team_banner {
    background: url("../../public/images/bg.png");
    padding: 22px;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.team_banner h4 {
    font-size: 28px;
    margin: 1em auto;
}
.team_banner a {
    color: #000;
    font-family: "Nexa-Regular";
}
.product_section {
    background-color: #fff;
    margin: auto;
    position: relative;
    width: 100%;
    padding: 22px;
}
.footer_section {
    background-color: #C4C4C4;
    margin: auto;
    position: relative;
    width: 100%;
    padding: 15px;
}
ul.footer_list_left {
    margin: 0;
    padding: 0;
}
ul.footer_list_left li {
    display: inline;
    color: #170069;
    text-align: center;
    padding: 12px 14px;
}
ul.footer_list_left li a {
    text-decoration: none;
}
ul.footer_list_right {
    margin: 0;
    padding: 0;
    list-style: circle !important;
    float: right;
}
ul.footer_list_right li {
    display: inline;
    color: #000;
    text-align: center;
    font-size: 18px;
    padding: 12px 14px;
}
.btnStyle {
    background-color: #84B4C8;
    color: #fff;
    width: 20%;
    border: none;
}
.footer_section_lower {
    background: #3D3D3D;
    width: 100%;
    margin: auto;
    min-height: 50px;
    color: #fff;
    padding-top: 1em;
}
p.text__right {
    text-align: right;
}