.body {
  background-color: #fff;
  min-height: 400px;
  padding: 9px;
  margin: auto;
}
.body a {
  color: #170069 !important;
  font-weight: 700;
}

.body h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 51px;
  color: #170069;
  font-family: 'Nexa-Light';
}

.body h4 {
  font-family: 'Nexa-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
}

.banner {
  background-image: 
            linear-gradient(89.82deg, 
                rgba(20, 7, 7, 0.78) 0.17%, 
                    rgba(49, 93, 145, 0.38) 97.17%), url(
                        '../../public/images/contact.png'); 
  padding: 22px;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_text {
  margin-top: 14em !important;
  position: relative;
  color: #fff;
}

.inner_body {
  width: 65%;
  position: relative;
  margin: 3em auto;
}
.body_lower {
  background-color: #ACBDC3;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 3em;
}
.body_values {
  background-color: #F2F2F2;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 3em;
}
.body_lower_text {
  width: 75%;
  margin: auto;
  position: relative;
  color: #fff;
}
span.bigText {
  font-size: 32px;
  font-weight: 600;
  color: #170069;
}
span.colored {
  color: #26AFE6;
}
.col_body {
  background-color: #fff;
  width: 100%;
  margin: auto;
  padding: 2em;
}
.team_banner {
  background: url("../../public/images/bg.png");
  padding: 22px;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.team_banner h4 {
  font-size: 28px;
  margin: 1em auto;
}
.product_section {
  background-color: #fff;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 22px;
}
.product_section p {
  font-family: 'Nexa-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #323232;
}
.product_section h5 {
  font-family: 'Nexa-Light';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.footer_section {
  background-color: #C4C4C4;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 15px;
}
ul.footer_list_left {
  margin: 0;
  padding: 0;
}
ul.footer_list_left li {
  display: inline;
  color: #000000;
  text-align: center;
  padding: 12px 14px;
}
ul.footer_list_left li a {
  text-decoration: none;
  color: #000000;
}
ul.footer_list_right {
  margin: 0;
  padding: 0;
  list-style: circle !important;
  float: right;
}
ul.footer_list_right li a {
  color: #000000;
}
ul.footer_list_right li {
  display: inline;
  color: #000;
  text-align: center;
  font-size: 18px;
  padding: 12px 14px;
}

.btnStyle {
  background-color: #84B4C8;
  color: #fff;
  width: 20%;
  border: none;
  font-family: 'Nexa-Regular';
  margin: 7px auto;
}
.footer_section_lower {
  background: #3D3D3D !important;
  width: 100%;
  margin: auto;
  min-height: 50px;
  color: #fff;
  padding-top: 1em;
}
p.text__right {
  text-align: right;
}
.formGroup {
  margin: 22px auto;
  position: relative;
}
.formGroup input {
  width: 100%;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 8px;
}
.formGroup h5 {
  color: #1F1F1F;
  font-family: 'Nexa-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.formGroup input[type="submit"] {
  width: 30%;
  float: right;
  padding: 9px;
  background-color: #75B9D5;
  border: none;
  border-radius: 4px;
  color: #fff;
}
a.linkRef {
  color: #170069 !important;
}
.textArea {
  min-height: 300px;
  width: 100%;
}
.icon_style {
  font-size: 2.5em;
  font-weight: 200;
}